# clk-divider-requirements
I would like to add a simple clock-divider component to ProbeDriver. 
The idea is to mimic the ability to conveniently slow the entire ProbeDriver down in the same way that BestSlotBlinker does. i.e.

CR0[27:24] will be used to select the divider

By default, all values being 0 should leave the input clk unchanged

perhaps we should put implement this 'clk-divider' feature in its own vhdl submodule, complete with unit tests and its own directory 'clk-divider'

First, lets create this clk-divider vhdl module, and once the tests have passed integrate into the overall ProbeDriver architecture

As always, ask any clarifying questions that will avoid problems integrating or testing this module
