# CustomWrapper-testbench-requirements
I would to implement a higher level testbench. 

For context, the 'CustomWrapper' entity is defined by an external vendor. We have no ability to change or influence it.

The 'CustomWrapper' entity serves as the 'main' or 'top' level abstraction for bitstreams that load on their devices. 


## Reset behavior
When the hardware loads the bittream it will handle setting 'Reset' and clk as appropriate. 
The (real) hardware runs with a 32ns clk. 
The (real) hardware will always initialize all top-level control registers to zero. 

Can you help me create a testbench (CustomWrapper-top-tb) that will allow be to sanity check the values of OutputsABC in simulation?:

